$create-button-color: #6411AD;
$delete-button-color: #D55D92;
$basic-color: #ffffff;
$stage-sign-color: #6D23B6;
$change-button-color: #EA698B;
$start-working-button: #47126B;
$author-button-color: #AC46A1;
$basic-background: #f2f6fa;
$blue-basic-color: #82a3ff;
$plus-background-color: #973AA8;
$header-background-color: #f0f0f0;
$transfer-button-color: #C05299;
$border-radius: 10px;
$light-grey: #e7e7e7;
$dark-grey: #566281;
$border-elem-color: #e1e5ea
